@import url(https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;700&family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap);

body {
  display: flex;
  justify-content: center;
  font-family: "Manrope", sans-serif;
}

.page-container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 668px;
  background: linear-gradient(0deg, rgb(0 0 0 / 0.3) 0%, rgb(0 0 0 / 0.3) 100%);
  background-image: url(../images/lampos-aritonang-24gR_9lCdes-unsplash\ 1.webp);
}

.logo-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 69px;
  width: 207px;
}

.header-title-container {
  width: 100%;
  height: 132px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.header-title {
  width: 900px;
  line-height: 60px;
  text-align: center;
  color: #ffd15b;
  font-size: 44px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}

.search-input-container {
  width: 100%;
  margin-top: 29px;
  display: flex;
  justify-content: center;
}

.search-input .close {
  display: none;
}

.search-input .close.visible {
  position: absolute;
  right: 80px;
  display: flex;
}

.search-input {
  position: relative;
  margin: 0% 2%;
  width: 954px;
  height: 72px;
  display: flex;
  align-items: center;
}

.search-input input {
  width: 100%;
  border: none;
  border-radius: 11px;
  padding-left: 35px;
  height: 72px;
}

.search-button {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  background-color: #000;
  border: none;
}

.search-button:hover {
  background-color: #ffd15b;
}

.search-button:hover svg circle {
  stroke: #000;
}

.search-button:hover svg line {
  stroke: #000;
}

.search-button img {
  width: 27px;
}

main {
  width: 100%;
  padding: 0% 4%;
  background: #ededed;
}

.section-filters {
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nb-recipes-container {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
  height: 56px;
}

.nb-recipes {
  font-size: 21px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}

.filters-container {
  display: flex;
  width: 80%;
  gap:20px
}

.filter-container {
  width: 195px;
  height: 56px;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.filter-name {
  margin: 0 20px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-name p {
  font-size: 16px;
  font-weight: 500;
}

.filter-search-container-ingredients,
.filter-search-container-appareils,
.filter-search-container-ustensiles {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 15px;
  margin-bottom: 11px;
  width: 80%;
  height: 36px;
  border: solid 1px #c6c6c6;
  border-radius: 2px;
}

.filter-search-container-ingredients .svg-search,
.filter-search-container-appareils .svg-search,
.filter-search-container-ustensiles .svg-search {
  padding-right: 10px;
  width: 24px;
}

.filter-search-container-ingredients .delete-value,
.filter-search-container-appareils .delete-value,
.filter-search-container-ustensiles .delete-value {
  display: none;
  position: relative;
  left: -4px;
  width: 6px;
}

.filter-search-container-ingredients .delete-value path,
.filter-search-container-appareils .delete-value path,
.filter-search-container-ustensiles .delete-value path {
  stroke: #7a7a7a;
}

.filter-search-container-ingredients input,
.filter-search-container-appareils input,
.filter-search-container-ustensiles input {
  width: 80%;
  border: none;
}

.filter-search-container-ingredients input:focus,
.filter-search-container-appareils input:focus,
.filter-search-container-ustensiles input:focus {
  outline: none;
}

#option-ingredients-container,
#option-appareils-container,
#option-ustensiles-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow-y: scroll;
  max-height: 250px;
}

.unselected-filter-card {
  display: none;
}

.filter-card {
  display: flex;
  justify-content: space-between;
  order: 2;
  padding: 0 20px;
}

.filter-card p {
  padding: 9px 0 9px 0;
  font-size: 14px;
  font-weight: 400;
}

.filter-card.active {
  background-color: #ffd15b;
  order: 1;
  gap:20px;
}

.filter-card.active p {
  font-size: 12px;
  font-weight: 500;
}

.filter-card.active .unselected-filter-card {
  display: flex;
}

.filter-container img {
  transform: rotate(0deg);
  transition: all 0.3s ease-out;
}

.filter-container .not-visible {
  display: none;
}

.filter-container.active {
  height: fit-content;
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-container.active img {
  transform: rotate(180deg);
  transition: all 0.3s ease-out;
}

.filter-container.active .not-visible {
  display: flex;
  z-index: 2;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 56px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  align-items: center;
}

.active-filter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  width: 100%;
}

.active-filter div {
  display: flex;
  justify-content: space-between;
  background-color: #ffd15b;
  gap: 60px;
  border-radius: 10px;
  margin-right: 25px;
  padding: 17px 18px;
}

.active-filter div p {
  font-size: 14px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 55px;
}

.card {
  width: 380px;
  margin-bottom: 66px;
  border-radius: 11px;
}

.card-time {
  position: absolute;
  right: 22px;
  top: 21px;
  width: 83px;
  text-align: center;
  background-color: #ffd15b;
  border-radius: 14px;
  padding: 5px 15px;
}

.card-image-container {
  height: 253px;
}

.card-image-container img {
  width: 100%;
  max-height: 253px;
  border-top-right-radius: 11px;
  border-top-left-radius: 11px;
  object-fit: cover;
}

.card-text-container {
  padding: 32px 25px 61px 25px;
}

.card-text-container h3 {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 29px;
}

.label-recipe,
.label-ingredients {
  font-size: 12px;
  margin-bottom: 15px;
  color: #7a7a7a;
  font-weight: 700;
}

.recipe-description {
  font-size: 14px;
  margin-bottom: 32px;
  max-height: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  
}

.ingredients-container {
  display: flex;
  height: 190px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ingredient-container {
  width: 50%;
  margin-bottom: 21px;
}

.ingredient {
  font-size: 14px;
  font-weight: 500;
}

.quantity {
  font-size: 14px;
  font-weight: 400;
  color: #7a7a7a;
}

@media (max-width: 680px) {
  .header-title-container{
    margin-top: 100px;
  }
  .header-title{
    font-size: 35px;
  }
  .section-filters{
    flex-direction: column;
  }
  .filters-container,.nb-recipes-container{
    width: 100%;
    gap: 10px;
  }
}

@media (max-width: 535px) {
  header{
    height: 500px;
  }
  .logo-container{
    justify-content: center;
  }
  .logo-container img{
    margin: 0px;
  }
  .header-title-container{
    margin-top: 50px;
  }
  .header-title {
    font-size: 25px;
    line-height: 30px;
  }
  .search-input {
    width: 100%;
    height: 50px
  }
  .search-input input {
    height: 50px;
    padding-left: 20px;
    font-size: 12px;
  }

  .search-button {
    width: 40px;
    height: 40px;
    right: 10px;
  }

  .search-button svg {
    width: 20px;
    height: 20px;
  }
  .filters-container{
    flex-wrap: wrap;
    justify-content: start;
  }
  .nb-recipes{
    font-size: 20px;
  }
  .filter-container{
    width: 150px;
    height: 45px;
  }
  .filter-name p{
    font-size: 12px;
  }
  .filter-name img {
    width: 12px;
  }
  .section-filters {
    flex-direction: row;
    align-items: start;
  }
  .filter-search-container-ingredients,
  .filter-search-container-appareils,
  .filter-search-container-ustensiles {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 11px;
    width: 80%;
    height: 30px;
    border: solid 1px #c6c6c6;
    border-radius: 2px;
  }
  .filter-search-container-ingredients input,
  .filter-search-container-appareils input,
  .filter-search-container-ustensiles input {
    width: 80%;
    height: auto;
    border: none;
    font-size: 12px;
  }
  .filter-card p{
    font-size: 12px;
  }
  .active-filter{
    gap: 15px;
  }
  .active-filter div{
    gap: 20px;
    padding: 5% 8%;
    margin: 0px;
  }
  .active-filter div p{
    font-size:12px;
  }
  .active-filter div img {
    width: 10px;
  }
  .card{
    margin-bottom: 0px;
  }
  .card-time{
    font-size: 14px;
  }
  .card-image-container{
    height: 200px;
  }
  .card-image-container img{
    height: 200px;
  }
  .card-text-container{
    padding: 10% 3% 3% 3%;
  }
  .card-text-container h3{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .label-recipe{
    font-size: 12px;
  }
  .recipe-description{
    margin-bottom: 15px;
  }
  .ingredient{
    font-size: 12px;
  }
  .quantity{
    font-size: 10px;
  }
  .search-input .close.visible {
    position: absolute;
    right: 60px;
    display: flex;
    width: 12px;
  }
}